<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.laptop_krisna">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laptopkrisna"
        tools:targetApi="31">
        <activity
            android:name=".bola"
            android:exported="false" />
        <activity
            android:name=".limassegitiga"
            android:exported="false" />
        <activity
            android:name=".limaspersegipanjang"
            android:exported="false" />
        <activity
            android:name=".limaspersegi"
            android:exported="false" />
        <activity
            android:name=".prisma"
            android:exported="false" />
        <activity
            android:name=".kerucut"
            android:exported="false" />
        <activity
            android:name=".tabung"
            android:exported="false" />
        <activity
            android:name=".balok"
            android:exported="false" />
        <activity
            android:name=".persegi"
            android:exported="false" />
        <activity
            android:name=".layanglayang"
            android:exported="false" />
        <activity
            android:name=".BelahKetupat"
            android:exported="false" />
        <activity
            android:name=".Trapesium"
            android:exported="false" />
        <activity
            android:name=".Lingkaran"
            android:exported="false" />
        <activity
            android:name=".JajarGenjang"
            android:exported="false" />
        <activity
            android:name=".Segitiga"
            android:exported="false" />
        <activity
            android:name=".PersegiPanjang"
            android:exported="false" />
        <activity
            android:name=".kubus"
            android:exported="false" />
        <activity
            android:name=".RuangList"
            android:exported="false" />
        <activity
            android:name=".BangunRuang"
            android:exported="false" />
        <activity
            android:name=".DatarList"
            android:exported="false" />
        <activity
            android:name=".KalkulatorLuas"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BangunDatar"
            android:exported="false" />
        <activity
            android:name=".CustomListView"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
    </application>

</manifest>